{%extends "base.html"%} {% comment %}  #extend를 했기에 block 사용 가능
                        블럭을 만드려면 base.html에서 먼저 만들어야 한다. {% endcomment %}


{% block page_title %}
    Home
{% endblock page_title %}
    


{% block content %}

    <div class="container mx-auto pb-10">
        <div class="container rounded-xl bg-gray-800 -mx-40 h-50vh mt-32 mb-24 bg-cover bg-center"></div>
        <div class="flex flex-wrap -mx-40 mg-10">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
   
        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %} 
                <a href ="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <em class="fas fa-arrow-left fa-lg"></em>
                </a>
            {% endif %} 
        
            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
            
            {% if page_obj.has_next %} 
                <a href ="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <em class="fas fa-arrow-right fa-lg"></em>
                </a>
            {% endif %} 
        </div>
    </div>

   
    {% comment %} Page  {{page.number}} of {{page.paginator.num_pages}} (paginator 사용){% endcomment %}
    
    {% comment %} {% if not page == page_count %} 수동으로 {% endcomment %}

    {% comment %} {% if page.has_next %} (paginator 사용)이 줄이 없으면 다음페이지가 없을때 에러 
        <a href ="?page={{page.next_page_number}}">Next</a>
    {% endif %} {% endcomment %}
    
    
    
 
{% endblock  %}

