container_commands:
  01_migrate:
    command: "django-admin migrate"
    command: "python manage.py makemigrations"
    command: "python manage.py migrate"
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate"
    command: "python manage.py"
    leader_only: true
  
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings